<div class="d-flex align-items-center justify-content-center mb-5">
    <div class="m-5">
        <div class="card mb-3">
            <%= image_tag "xin_sui_img.webp", class: "card-img-top", alt: "Xin Sui Reflexology" %>
            <div class="card-body">
                <h5 class="card-title">Select a time at Xin Sui Reflexology</h5>

                <p>time1</p>

            </div>
        </div> 
    </div>
</div>
