<div class="d-flex align-items-center justify-content-center mb-5">
    <div class="m-5">
        <div class="card mb-3">
            <%= image_tag "xin_sui_img.webp", class: "card-img-top", alt: "Xin Sui Reflexology" %>
            <div class="card-body" style="max-width: 540px">
                <h5 class="card-title"><%= @selected_date_time.to_date %></h5>
                <div class="col">
                    <% for technician in @technicians do %>
                        <%= render partial: "available_slots", locals: { technician: technician, available_reservations: @available_reservations.where(technician: technician) } %>
                    <% end %>
                </div>

            </div>
        </div> 
    </div>
</div>
