<div class="card mt-5">
  <div class="card-body">
    <h5 class="card-title">About</h5>
    <h6 class="card-subtitle mb-2 text-muted">UPMC EMP</h6>
    <ul class="list-group list-group-flush fs-4">
        <li class="list-group-item">The company needs an employee management portal (EMP). The EMP will hold an employee’s name, employee’s department(s), employee department task(s), employee’s company email, personal address, and salary.</li>
        <li class="list-group-item">A department manager for each department can add employees, remove employees, or update employee information that is related to their department.</li>
        <li class="list-group-item">A company manager can add employees, remove employees, or update employee information that is not department related.</li>
        <li class="list-group-item">[OPTIONAL] The company would also like to have a log of actions done, by whom and when for any updates to an employee’s information.</li>
    </ul> 
  </div>
</div>